# Ambiente virtual
venv/
ENV/
env/
.venv/

# Arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Configs locais
*.env
*.ini

# Cache do Streamlit
.streamlit/

# Arquivos gerados automaticamente
*.db
*.sqlite
*.log

# VSCode
.vscode/

# Jupyter notebooks 
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
